<?xml version="1.0"?>
<configuration>
	
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QueueClientSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1298/QueueClient.asmx" binding="basicHttpBinding"
                bindingConfiguration="QueueClientSoap" contract="QueueClientServiceReference.QueueClientSoap"
                name="QueueClientSoap" />
        </client>
    </system.serviceModel>
	<appSettings>
		<add key="WindowNo" value="1"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
