<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<dataConfiguration defaultDatabase="MySql" />
	<connectionStrings>
		<add name="MySql" connectionString="DRIVER={MySQL ODBC 5.1 Driver};SERVER=localhost;DATABASE=queueclient;UID=root;PASSWORD=ABCabc123;OPTION=3"
			 providerName="System.Data.Odbc" />
		<add name="Queue" connectionString="server=.;database=Queue;uid=sa;pwd=sa"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>
